In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

html_text = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi').text
soup = BeautifulSoup(html_text, 'lxml')
table = soup.find_all('div', class_ = 'rankings-block__container full rankings-table')
rank1 = soup.find('td', class_ = 'rankings-block__banner--pos').text
team1 = soup.find('span', class_ = 'u-hide-phablet').text
match1 = soup.find('td', class_ = 'rankings-block__banner--matches').text
points1 = soup.find('td', class_ = 'rankings-block__banner--points').text
rating1 = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text

row = [[rank1.strip(), team1.strip(), match1.strip(), points1.strip(), rating1.strip()]]

i=1

block = soup.find_all('tr', class_ = 'table-body')


for items in block:

    if i<=9:

        Ranking = items.find('td', class_ = 'table-body__cell table-body__cell--position u-text-right').text
        Team_Name = items.find('span', class_ = 'u-hide-phablet').text
        Matches, Points = [each.text for each in items.find_all('td', class_ = 'table-body__cell u-center-text')]
        Rating = items.find('td', class_ = 'table-body__cell u-text-right rating').text

        row.append([Ranking.strip(), Team_Name.strip(), Matches.strip(), Points.strip(), Rating.strip()])
    i=i+1
  
  
  
df1 = pd.DataFrame(row, columns = ['Rank', 'Team Name', 'Matches Played', 'Points', 'Rating'])
print(df1)

  Rank     Team Name Matches Played Points Rating
0    1   New Zealand             17  2,054    121
1    2       England             32  3,793    119
2    3     Australia             28  3,244    116
3    4         India             32  3,624    113
4    5  South Africa             25  2,459     98
5    6      Pakistan             27  2,524     93
6    7    Bangladesh             30  2,740     91
7    8   West Indies             30  2,523     84
8    9     Sri Lanka             32  2,657     83
9   10   Afghanistan             17  1,054     62